$clr-1: #dc1e2e;
$clr-2: #eb8258;
$clr-3: #f6f740;
$clr-4: #fff07c;
$clr-5: #91e833;
$clr-6: #61e786;
$clr-7: #4f84ff;
$clr-8: #a2d2ff;
$clr-9: #bc64f7;
$clr-10: #e086d3;
$clr-11: #00b594;
$clr-12: #00f5d4;
$clr-13: #1c1c1c;
$clr-14: #282828;
$clr-15: #505050;
$clr-16: #fafafa;

