@use "./_colors.scss" as *;


.h-fg-1.h-fg-1 {
  color: $clr-1;
}

.h-bg-1.h-bg-1 {
  background-color: $clr-1;
}

.h-fg-2.h-fg-2 {
  color: $clr-2;
}

.h-bg-2.h-bg-2 {
  background-color: $clr-2;
}

.h-fg-3.h-fg-3 {
  color: $clr-3;
}

.h-bg-3.h-bg-3 {
  background-color: $clr-3;
}

.h-fg-4.h-fg-4 {
  color: $clr-4;
}

.h-bg-4.h-bg-4 {
  background-color: $clr-4;
}

.h-fg-5.h-fg-5 {
  color: $clr-5;
}

.h-bg-5.h-bg-5 {
  background-color: $clr-5;
}

.h-fg-6.h-fg-6 {
  color: $clr-6;
}

.h-bg-6.h-bg-6 {
  background-color: $clr-6;
}

.h-fg-7.h-fg-7 {
  color: $clr-7;
}

.h-bg-7.h-bg-7 {
  background-color: $clr-7;
}

.h-fg-8.h-fg-8 {
  color: $clr-8;
}

.h-bg-8.h-bg-8 {
  background-color: $clr-8;
}

.h-fg-9.h-fg-9 {
  color: $clr-9;
}

.h-bg-9.h-bg-9 {
  background-color: $clr-9;
}

.h-fg-10.h-fg-10 {
  color: $clr-10;
}

.h-bg-10.h-bg-10 {
  background-color: $clr-10;
}

.h-fg-11.h-fg-11 {
  color: $clr-11;
}

.h-bg-11.h-bg-11 {
  background-color: $clr-11;
}

.h-fg-12.h-fg-12 {
  color: $clr-12;
}

.h-bg-12.h-bg-12 {
  background-color: $clr-12;
}

.h-fg-13.h-fg-13 {
  color: $clr-13;
}

.h-bg-13.h-bg-13 {
  background-color: $clr-13;
}

.h-fg-14.h-fg-14 {
  color: $clr-14;
}

.h-bg-14.h-bg-14 {
  background-color: $clr-14;
}

.h-fg-15.h-fg-15 {
  color: $clr-15;
}

.h-bg-15.h-bg-15 {
  background-color: $clr-15;
}

.h-fg-16.h-fg-16 {
  color: $clr-16;
}

.h-bg-16.h-bg-16 {
  background-color: $clr-16;
}
