$clr-1: #dc1e2e;
$clr-2: #eb8258;
$clr-3: #f6f740;
$clr-4: #fff07c;
$clr-5: #91e833;
$clr-6: #61e786;
$clr-7: #4f84ff;
$clr-8: #a2d2ff;
$clr-9: #bc64f7;
$clr-10: #e086d3;
$clr-11: #00b594;
$clr-12: #00f5d4;
$clr-13: #1c1c1c;
$clr-14: #282828;
$clr-15: #505050;
$clr-16: #fafafa;

.fg-1 {
  color: $clr-1;
}

.bg-1 {
  background-color: $clr-1;
}
.fg-2 {
  color: $clr-2;
}

.bg-2 {
  background-color: $clr-2;
}
.fg-3 {
  color: $clr-3;
}

.bg-3 {
  background-color: $clr-3;
}
.fg-4 {
  color: $clr-4;
}

.bg-4 {
  background-color: $clr-4;
}
.fg-5 {
  color: $clr-5;
}

.bg-5 {
  background-color: $clr-5;
}
.fg-6 {
  color: $clr-6;
}

.bg-6 {
  background-color: $clr-6;
}
.fg-7 {
  color: $clr-7;
}

.bg-7 {
  background-color: $clr-7;
}
.fg-8 {
  color: $clr-8;
}

.bg-8 {
  background-color: $clr-8;
}
.fg-9 {
  color: $clr-9;
}

.bg-9 {
  background-color: $clr-9;
}
.fg-10 {
  color: $clr-10;
}

.bg-10 {
  background-color: $clr-10;
}
.fg-11 {
  color: $clr-11;
}

.bg-11 {
  background-color: $clr-11;
}
.fg-12 {
  color: $clr-12;
}

.bg-12 {
  background-color: $clr-12;
}
.fg-13 {
  color: $clr-13;
}

.bg-13 {
  background-color: $clr-13;
}
.fg-14 {
  color: $clr-14;
}

.bg-14 {
  background-color: $clr-14;
}
.fg-15 {
  color: $clr-15;
}

.bg-15 {
  background-color: $clr-15;
}
.fg-16 {
  color: $clr-16;
}

.bg-16 {
  background-color: $clr-16;
}
