@use "./colors.scss" as *;



@use "sass:color";


.bar {

  font-family: monospace;
  font-weight: bold;
  font-size: 18px;

  background-color: $clr-13;

  .info > * {
    color: $clr-13;
    padding: 0 0.6em;
  }



  button {
    background-image: none;
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;

    padding: 0.2em 0.4em;

    transition-duration: 0;

    &.focused {
      color: $clr-13;

    }
  }


  .audio {
    background-color: $clr-4;
    color: $clr-13;

    &.muted {
      background-color: $clr-2;
    }
  }


  .datetime {
    > label {
      padding: 0em 0.8em;
    }
  }


}



