@use "./_colors.scss" as *;
@use "./_bgfg.scss" as *;
@use "./_h-bgfg.scss" as *;



@use "sass:color";


$height: calc(1em + (2 * 0.2em));

window {
  font-family: monospace;
  font-size: 18px;

}

* {
  transition: none;
}


.bar {
  font-weight: bold;
  background-color: $clr-13;

  .info > * {
    color: $clr-13;
    padding: 0 0.6em;
  }







  .datetime {
    > label {
      padding: 0em 0.8em;
    }
  }


}


.notification-panel {


  .notification {
    border-top: none;
    border-color: $clr-9;

    background-color: $clr-14;
    margin-bottom: 1em;


    &.urgency-low {
      > .header {
        background-color: $clr-5;
      }
    }
    &.urgency-normal {
      > .header {
        background-color: $clr-7;
      }
    }
    &.urgency-critical {
      > .header {
        background-color: $clr-1;
      }
    }



    .header {
      font-weight: bold;
      background-color: $clr-10;
      padding: calc(($height - 1em) / 2) 0.4em;
      color: $clr-13;
      > * {
        margin: 0 0.8em;
      }
    }

    .content {
        margin: 0.8em;
      
      > .image {
        min-width: 4em;
        min-height: 4em;
        margin-right: 1em;
      }

      > .wrapper {

        .summary {
          font-weight: bold;
        }

      }
    }


    .actions button {
      font-weight: bold;
      background-color: $clr-16;
      color: $clr-13;
    }
  }
}


.audio-mixer {
  background-color: $clr-14;

  .streams {

    min-height: 300px;


    > .stream > * {
      margin-bottom: 0.8em;
    }

    .message {
      padding: 0.5em 1em;
    }

  }

}




.image {
  background-size: contain;
  background-repeat: no-repeat;
}

.audio {
  font-weight: bold;
  background-color: $clr-4;
  color: $clr-13;

  &.muted {
    background-color: $clr-2;
  }
}



button {
  background-image: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;


  &.focused {
    color: $clr-13;

  }
}

button:not(.not-button) {
  padding: calc(($height - 1em) / 2) 0.4em;
}
