@use "./_colors.scss" as *;
@use "./_bgfg.scss" as *;



@use "sass:color";

window {
  font-family: monospace;
  background-color: $clr-13;
  font-size: 16px;

}

* {
  transition-duration: 0;
}


.bar {
  font-weight: bold;
  font-size: 18px;

  .info > * {
    color: $clr-13;
    padding: 0 0.6em;
  }





  .audio {
    background-color: $clr-4;
    color: $clr-13;

    &.muted {
      background-color: $clr-2;
    }
  }


  .datetime {
    > label {
      padding: 0em 0.8em;
    }
  }


}


.notification-panel {
  background-color: $clr-13;

  .notification {
    border: 4px solid;
    border-top: none;
    border-color: $clr-9;


    &.urgency-low {
      border-color: $clr-5;
      > .header {
        background-color: $clr-5;
      }
    }
    &.urgency-normal {
      border-color: $clr-7;
      > .header {
        background-color: $clr-7;
      }
    }
    &.urgency-critical {
      border-color: $clr-2;
      > .header {
        background-color: $clr-2;
      }
    }


    .header {
      font-weight: bold;
      background-color: $clr-9;
      > .app-name {
        margin-left: 2em;
      }
      button {

        color: $clr-16;
      }
    }
  }
}



button {
  background-image: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;

  padding: 0.2em 0.4em;


  &.focused {
    color: $clr-13;

  }
}

