@use "./_colors.scss" as *;

window {
  background-color: $clr-13;
  color: $clr-16;

  font-family: monospace;
  font-weight: bold;
}


#command-selector {
  opacity: 0;
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  margin-bottom: -34px;
  margin-top: -5px;
}

#body > box > #command-selector + box {
  margin-top: -10px;
}

#body > box > box ~ box {
  margin-top: -5px;
}

entry {
  transition-duration: 0;

  border-radius: 0;
  border: none;
  box-shadow: none;

  $l-1: $clr-10;
  $l-2: $clr-14;

  background-color: $l-1;
  color: $l-2;
  caret-color: $l-1;

  &:focus {
    background-color: $l-2;
    color: $l-1;
  }
}

label {
  padding: 0 1em;
}


#body > box > box > label {
  background-color: $clr-3;
  color: $clr-14;
  margin-right: -5px;
  min-width: calc((9 * 0.6em) + 1em);
}

#body > box > box ~ box > label {
  background-color: transparent;
  // does not work
  color: $clr-14;
}


button {
  border-radius: 0;
  border: none;
  box-shadow: none;
  text-shadow: none;
  outline: none;
  background-image: none;

  transition-duration: 0;

  background-color: $clr-7;
  color: $clr-14;
  padding: 4px 0;
}

button:focus, button:hover {
  background-color: $clr-9;
}


#body > box > #command-selector + box > button {
  margin-right: 0;
  background-color: $clr-7;

  &:hover, &:focus {
    background-color: $clr-9;
  }
}


#body > box > box ~ box > button:nth-child(1) {
  margin-right: -5px;
  background-color: $clr-2;

  &:hover, &:focus {
    background-color: $clr-1;
  }
}
