@use "./_colors.scss" as *;

window {
  background-color: $clr-13;
  color: $clr-16;

  font-family: monospace;
  font-weight: bold;
}

entry {
  transition-duration: 0;

  border-radius: 0;
  border: none;
  box-shadow: none;

  $l-1: $clr-10;
  $l-2: $clr-14;

  background-color: $l-1;
  color: $l-2;

  &:focus {
    background-color: $l-2;
    color: $l-1;
  }
}

label {
  padding: 0 1em;
}


#inner-box > flowboxchild {
  &:selected {
    background-color: transparent;
  }

  &:focus, &:hover {
    background-color: $clr-12;
  }


  > expander {
    &:focus, &:hover {
      background-color: $clr-5;

      box {
        background-color: $clr-5;
      }

    }

  }

}


